.category {
	width: 100%;
	overflow-x: wrap;
	box-sizing: border-box;
}

.category header {
	margin-bottom: var(--paddingOutside);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.category > div {
	max-width: 100%;
	overflow-x: wrap;
	box-sizing: border-box;
}

.categoryHeader {
	text-transform: uppercase;
	line-height: 1.5;
}

.categoryHeader span {
	color: var(--orange);
	font-weight: normal;
}
