.header {
	display: flex;
	justify-content: center;
	width: 100%;
	height: var(--headerHeight);
	padding: var(--paddingOutside);
	color: var(--white);
	align-items: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 10px rgba(0,0,0, 0.25);
	z-index: 1;
	--menuFontSize: 22px;
	@media screen and (max-width: 1279px) {
		--menuFontSize: 16px;
	}
	@media screen and (max-width: 1279px) {
		/* --headerHeight: 200px; */
	}
}

.innerHeader {
	display: flex;
	justify-content: space-between;
	width: var(--mainBlockWidth);
	@media screen and (max-width: 1023px) {
		flex-direction: column;
		align-items: center;
		height: 100%;
	}
}

.logo img {
	@media screen and (max-width: 1023px) {
		height: 50px;
	}
}


.header ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	@media screen and (max-width: 1023px) {
		flex-wrap: wrap;
		justify-content: center;;
	}
}

.rightSide {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: auto;
	margin-bottom: -3px;
	@media screen and (max-width: 1023px) {
		align-items: center;
	}
}

.menu {
	font-size: var(--menuFontSize);
}

.menu li {
	user-select: none;
	@media screen and (max-width: 1023px) {
		line-height: 1.5;
	}
}

.menu li a {
	color: var(--white);
	text-decoration: none;
}

.menu li a:hover, .active {
	text-decoration: underline;
	font-weight: normal;
}

.menu > li + li {
	margin-left: max(var(--paddingInside), 15px);
}

.menu ul {
	background-color: var(--secondary-cream);
	color: var(--orange);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: fixed;
	top: var(--headerHeight);
	padding: var(--paddingInside);
	min-width: 300px;
	z-index: 9;
	box-shadow: 0 10px 10px rgba(0,0,0, 0.25);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.menu ul li {
	line-height: 1.5;
}

.menu ul li a {
	color: var(--orange);
}

.menu ul.off {
	display: none;
}

.menu ul.on {
	display: block;
}

