.about {
	width: 100%;
	box-sizing: border-box;
	padding: 0 !important;
}

.about section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: var(--paddingOutside);
	min-height: calc(var(--unit-100vh) - var(--headerHeight));
	box-sizing: border-box;
	border-top: 1px solid var(--orangeHalf);
	scroll-snap-align: start;
}

.about section:first-of-type {
	background-color: var(--white);
	color: var(--black);
	/* border-top: 1px solid var(--whiteHalf); */
}

.about section > div {
	/* max-width: calc(var(--mainBlockWidth) + var(--paddingOutside) * 2); */
  display: flex;
  height: 100%;
  flex-direction: column;
}

.learnBlock {
	--fontSize: calc(1rem * 1.5);
	--lineHeight: 1.5;
  --mainBlockWidth: 800px;
}

.learnHolder {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: var(--paddingDouble);
  width: 100%;
}

.learnHolder h3, .contributeBlock h3 {
  font-size: calc(var(--fontSize) * 1.5);
  text-align: center;
  margin-bottom: var(--paddingInside);
}

.learnBlock p, .learnBlock li {
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
}

.learnBlock p, .learnBlock ul {
  margin-bottom: 1rem;
}

.learnBlock h2 {
  font-size: calc(1rem * 3);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: 5px;
  color: var(--orange);
}

.learnBlock p {
  text-align: center;
}

.tocCards {
  margin-top: var(--paddingOutside);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--paddingInside);
}

.tocCard {
  display: flex;
  flex-direction: column;
  /* border: 4px solid var(--orange); */
  align-items: center;
  justify-content: center;
  border-radius: var(--paddingInside);
  color: var(--white);
  background-color: var(--orange);
  transition: 0.25s;
}

.tocCard:hover {
  scale: 1.025;
}


.reverse {
  border: 4px solid var(--orange);
  color: var(--orange);
  background-color: var(--white);
}

.tocCard h3 {
  font-size: calc(var(--fontSize) * 1.5);
  text-align: center;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

.tocCard h3 a {
  padding: var(--paddingInside);
  color: var(--white);
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  cursor: pointer;
  text-box-trim: trim-both;
}


.reverse h3 a {
  color: var(--orange);
}

.tocCard p {
  text-align: center;
  max-width: 250px;
  margin-bottom: 0;
  font-size: calc(var(--fontSize) * 0.75) !important;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.contributeBlock {
  margin-top: var(--paddingDouble);
}

.introParagraph {
  max-width: 800px;
  width: 100%;
}