.emblaSlide {
  flex: 0 0 100%;
  min-width: 0;
	height: 100%;
	padding: var(--paddingOutside);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	user-select: none;
}

.backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: grayscale(100%) blur(5px) brightness(0.5);
	background-color: var(--white);
	background-size: cover;
	background-position: center;	
	z-index: -1;
}

.orangeVersion .backdrop {
	background-color: var(--orange);
	filter: brightness(0.666);
}

.orangeVersion  a {
	color: var(--white) !important;
}


.categoryheader {
	font-size: calc(var(--fontSize) * 4) !important;
	max-width: min(var(--narrowBlockWidth), calc(100vw - calc(2 * var(--paddingOutside))));
	margin-bottom: calc(var(--fontSize) * 3);
	color: var(--white);
	text-align: left;
	width: 100%;
	text-shadow: 0 0 5px var(--whiteShadow);
	position: absolute;
	left: calc(2 * var(--paddingOutside));
	top: var(--paddingOutside);
	@media (max-width: 767px) {
		font-size: calc(var(--fontSize) * 2.5) !important;
	}
}

.categoryheader a {
	color: var(--white);
}

.categorydescription {
	font-size: calc(var(--fontSize) * 3) !important;
	max-width: min(var(--narrowBlockWidth), calc(100vw - calc(2 * var(--paddingOutside))));
	line-height: 1.25 !important;
	letter-spacing: 3px;
	color: var(--white);
	text-shadow: 0 0 10px var(--blackShadow);
	text-transform: uppercase;
	animation: embiggen 0.5s linear 0.1s;
	@media (max-width: 767px) {
		font-size: calc(var(--fontSize) * 1.5) !important;
	}
}

@keyframes embiggen {
	from {
		transform: scale(0.75);
	}
	to {
		transform: scale(1.0);
	}
}


.cta {
	/* margin-top: calc(var(--fontSize) * 2); */
	font-size: calc(var(--fontSize) * 1.5) !important;
	max-width: min(var(--narrowBlockWidth), calc(100vw - calc(2 * var(--paddingOutside))));
	text-align: right;
	font-weight: bold;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0 0 10px var(--blackShadow);
	position: absolute;
	bottom: calc(1 * var(--paddingOutside));
	@media (max-width: 1023px) {
		--fontSize: calc(1rem / 8 * 7);
		--lineHeight: 1.25;
		text-align: center;
	}
}