.clickhere {
	text-align: center;
	margin: var(--paddingOutside);
}

.tagline {
	margin-top: calc(0px - var(--paddingInside));
	margin-bottom: var(--paddingOutside);
	font-weight: normal;
	text-align: center;
	color: rgba(0,0,0,0.5);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 95% !important;

}