.projectSection {
	max-width: min(var(--narrowBlockWidth), calc(100vw - 2 * var(--paddingOutside)));
	margin-bottom: var(--paddingOutside);
}

.projectIntroParagraph {
	margin-bottom: 0 !important;
	@media screen and (max-width: 1279px) {
		--fontSize: calc(1rem / 2 * 3);
		--lineHeight: 1.4;	
	}
}

.projectSection ul {
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
	margin: var(--paddingInside) 0;
}

.projectWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.projectBox {
	display: flex;
	justify-content: space-between;
	background-color: var(--white);
	border: 2px solid var(--orange);
	margin-top: var(--paddingOutside);
	margin-bottom: calc(1 * var(--paddingOutside));
	padding: var(--paddingOutside);
	box-shadow: 0 0 10px var(--blackShadow);
	@media screen and (max-width: 767px) {
		flex-direction: column;		
	}
}

.isLeft {
	flex-direction: row-reverse;
	@media screen and (max-width: 767px) {
		flex-direction: column;		
	}
}

.projectImage {
	margin-left: var(--paddingOutside);
	border: 2px solid var(--orange);
	line-height: 0;
	height: fit-content;
	@media screen and (max-width: 767px) {
		margin-top: var(--paddingOutside);
		margin-left: 0;
		width: fit-content;
		align-self: center;
	}
}

.isLeft .projectImage {
	margin-left: 0;
	margin-right: var(--paddingOutside);
	@media screen and (max-width: 767px) {
		margin-right: 0;	
	}

}

.projectText {
	flex-direction: column;
}

.projectBox h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 175%;
	margin-bottom: var(--paddingInside);
	color: var(--orange);
}

.contactLine {
	text-align: right;
	font-style: italic;
	margin-top: var(--paddingInside);
}

.contactLine a {
	color: var(--orange);
	font-style: normal;
	font-weight: bold;
	border-bottom: 4px solid var(--orangeShadow);
}

.link {
	color: var(--white);
}

.popoverScrim {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	background-color: var(--orangeHalf);
	padding: var(--paddingOutside);
	transition: 0.5s;
}

.popover {
	--fontSize: 200%;
	max-width: 800px;
	background-color: var(--white);
	padding: var(--paddingOutside);
	box-shadow: 0 0 10px var(--blackShadow);
	color: var(--orange);
	margin: auto;
	font-size: var(--fontSize);
	line-height: 1.25;
	@media screen and (max-width: 767px) {
		--fontSize: 150%;
	}
}



.popover p + p {
	text-indent: 1em;
}