.introArticle {
	--headerFontSize: 48px;
  max-width: 100%;
  padding: 0;
	color: var(--black);
	display: flex;
	flex-direction: column;
  & > h2 {
		padding-top: var(--paddingOutside);
    padding-bottom: calc(2 * var(--paddingOutside));
    font-size: calc(var(--fontSize) * 3);
		line-height: 1 !important;
    max-width: var(--narrowBlockWidth);
		width: 100%;
  }
  & > div {
    padding: var(--paddingOutside);
  }
  & h2 {
    text-transform: initial;
    letter-spacing: 0;
    line-height: 1.25;
		color: var(--orange);
  }
  & h3 {
    text-transform: initial;
    letter-spacing: 0;
  }
  @media (max-width: 767px) {
    --headerFontSize: 36px;
  }
}

.linkDiv {
  display: flex;
	gap: var(--paddingInside);
	margin-top: var(--paddingInside);
  & hr {
    margin-bottom: var(--paddingOutside);
    border-width: 0;
  }
  & h4 {
    color: var(--black);
    font-weight: bold;
    font-size: var(--fontSize);
		line-height: var(--lineHeight);
    margin: calc(2 * var(--paddingInside)) 0 var(--paddingInside) 0 !important;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: var(--orange) solid 4px;
    &:first-of-type {
      margin-top: 0 !important;
    }
    & > img {
      min-width: 80px;
      margin-right: var(--paddingInside) !important;
      /* // filter: brightness(0) saturate(100%) invert(11%) sepia(7%) saturate(4910%)
      //   hue-rotate(133deg) brightness(106%) contrast(87%); */
      filter: brightness(0) saturate(100%) invert(56%) sepia(100%) saturate(296%)
        hue-rotate(328deg) brightness(88%) contrast(89%);
    }
  }
  & ul + h4 {
    margin-top: calc(2 * var(--paddingOutside)) !important;
  }
  & a {
    font-weight: normal;
  }
  & ul {
    margin: 0;
    padding: 0;
    margin-top: calc(var(--paddingInside) / 2);
    & > ul {
      margin-bottom: var(--paddingInside);
      margin-left: var(--paddingInside);
      & + li {
        margin-top: calc(2 * var(--paddingInside));
      }
    }
  }
  & li {
		font-size: var(--fontSize);
		line-height: var(--lineHeight);
    color: var(--black);
    font-style: italic;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: var(--paddingOutside);
    text-indent: calc(0px - var(--paddingOutside));
    & > a {
      font-style: normal;
      font-weight: normal;
      color: var(--orange);
    }
  }
  & > div + div {
    margin-left: var(--paddingInside);
  }
  & > p {
    margin: 0;
    text-align: center;
    & + p {
      margin: 0;
    }
  }
  @media (max-width: 767px) {
    flex-direction: column;
    & > p + p {
      margin-top: 1em;
    }
    & > div + div {
      margin-left: 0;
      margin-top: calc(3 * var(--paddingInside)) !important;
    }
	}
}

@keyframes arrowAnimation {
	0% { transform: scale(1);opacity: 0; }
	50% { transform: scale(1.5); opacity: 1; }
	100% { transform: scale(1); opacity: 0;}
}

.topDiv {
  background-color: var(--orange);
  color: var(--white);
  display: flex;
  justify-content: center;
  padding: var(--paddingOutside);
	margin-left: auto;
	margin-right: auto;

  & > div > h2,
  & > div > h3 {
    color: var(--white);
    margin-top: 0;
  }
  & > div {
    max-width: var(--narrowBlockWidth);
    margin-left: auto;
    margin-right: auto;
  }
  & a {
    color: white;
  }
}

.topDiv ul {
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
	margin-left: var(--paddingInside);
	margin-bottom: vaR(--paddingOutside);
	@media (max-width: 767px) {
		margin-left: vaR(--paddingOutside);
	}
}

.topDiv li {
	margin-bottom: var(--paddingInside);
}

.topDiv li a {
	/* color: var(--black); */
	font-weight: bold;
	border-bottom: 2px solid var(--white);
}

.demoDiv {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  padding:var(--paddingOutside) 0 !important;
  & > div {
    max-width: var(--narrowBlockWidth);
    margin-left: auto;
    margin-right: auto;
  }
  & h3 {
    letter-spacing: 0;
  }
  & a {
    border: none;
    font-weight: normal;
  }
  & a:after {
    opacity: 1 !important;
    animation-name: arrowAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  & a:hover {
    border: none;
  }
  & p {
    font-size: 16px;
    line-height: 22px;
  }

  @media (min-width: 840px) {
    & .fukidashiwrapper {
      & > div > div + div {
        --box-top: 66% !important; /* left fukidashi */
        --box-right: calc(100% + 40px) !important;
        &:before {
          display: none;
        }
        &:after {
          height: 40px;
        }
      }
      & > div > div > .resourcedemo + div {
        --box-top: 39% !important; /* right fukidashi */
        --box-left: calc(100% + 40px) !important;
        &:before {
          display: none;
        }
        &:after {
          height: 40px;
        }
      }
    }
  }
}

.demoDiv.vertical {
	padding: 200px 0 !important;
}

.bottomPara {
	max-width: var(--narrowBlockWidth);
	width: 100%;
	margin: var(--paddingOutside) auto;
	margin-bottom: calc(var(--paddingOutside) * 2);
	font-size: calc(var(--fontSize) * 1.75) !important;
	align-self: center;
	text-align: center;
}