.styledsearchroot {
  position: relative;
  margin: 0.6em 0;
};

.searchbox {
	display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 0;
  margin-left: 12px;
}

.searchbox .SearchIcon {
	width: 1em;
	color: var(--darkText);
	pointer-events: none;
	width: 23px;
	height: 23px;
	margin-top: 2px;
}

.searchbox.hasFocus .SearchIcon {
	margin-right: 8px;
}

.searchbox .SearchInput {
	outline: none;
	margin-top: 2px;
	border: none;
	font-size: 24px;
	transition: 100ms;
	border-radius: 2px;
	color: var(--darkText);
	font-family: var(--mainFont);
	border-width: 1px;
	width: 0;
	background: transparent;
	cursor: pointer;
	margin-left: -1em;
	padding-left: 1em;
}

.searchbox .SearchInput::placeholder {
	color: var(--darkBrown);
}

.searchbox .searchInput.hasFocus {
	border: auto;
  width: 10em;
  background: var(--white);
  cursor: text;
  margin-left: -1.6em;
  padding-left: 1.6em;
}

.searchresult {
	--bottomMargin: 24px;
  display: none;
  max-height: 80vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 100%;
  margin-top: 0.5em;
  width: 80vw;
  max-width: 30em;
  box-shadow: 0 0 5px 0;
  padding: var(--insidePadding);
  border-radius: 2px;
  background: var(--backdrop);
}

.searchresult.show {
	display: block;
}

.searchresult a {
    text-decoration: none;
}
.searchresult li {
	text-transform: initial !important;
}

.searchresult h4 {
	margin: 0;
	display: flex;
	justify-content: space-between;
	font-weight: normal;
	align-items: baseline;
	font-size: 28px;
	font-family: var(--headerFont);
	font-weight: bold;
	color: var(--green);
	text-transform: uppercase;
}
.searchresult h4:hover > span:not(.type) {
	text-decoration: underline;
}

.searchresult h4 > span.type {
	white-space: nowrap;
	margin-left: var(--insidePadding);
	text-decoration: none;
	font-size: 24px;
	color: var(--white);
	text-transform: uppercase;
	background-color: var(--lightBrown);
	padding: 0 4px 1px 4px;
	border-radius: 4px;
	font-family: var(--headerFont);
	text-decoration: none !important;
	text-decoration-color: var(--lightBrown);
}

.searchresult .HitCount {
	display: flex;
	justify-content: flex-end;
	margin-bottom: var(--insidePadding);
}

.searchresult .Hits ul {
	list-style: none;
	margin-left: 0;
	padding: 0;
}
.searchresult .Hits li.ais-Hits-item {
	margin-bottom: var(--bottomMargin);
}
.searchresult .Hits li.ais-Hits-item a {
	color: var(--darkText);
}
.searchresult .Hits li.ais-Hits-item  a h4 {
	margin-bottom: 0.2em;
	line-height: 28px;
}

.searchresult .Hits li.ais-Hits-item .ais-Snippet {
	font-family: var(--mainFont);
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	display: block;
}

/* .searchresult .Hits li.ais-Hits-item .ais-Snippet .ais-Snippet-highlighted {
  background-color: var(--lightBrown); 
} */

.searchresult .ais-PoweredBy {
	display: flex;
	justify-content: flex-end;
	font-size: 16px;
	font-weight: normal;
	text-transform: initial;
	font-family: var(--mainFont);
	align-items: center;
}
.searchresult .ais-PoweredBy svg {
	width: 70px;
	margin-left: 5px;
	margin-top: 7px;
}

.searchresult .ais-Pagination {
	display: flex;
	justify-content: center;
}
.searchresult .ais-Pagination ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}
.searchresult .ais-Pagination ul li {
	margin: 10px;
	color: var(--lightBrown);
}
.searchresult .ais-Pagination ul li a {
	color: var(--darkBrown);
	transition: 0.5s;
}
	.searchresult .ais-Pagination ul li a:hover {
		color: var(--green);
	}

	.searchresult .ais-Pagination ul li a.ais-Pagination-link--selected {
		color: var(--white);
		background-color: var(--green);
		border-radius: 4px;
		padding: 0 6px 3px 6px;
	}
