:root {
  --orange: #d3711c;
	--white: #ffffff;
	--black: #000000;
	--whiteHalf: oklch(from var(--white) l c h / 50%);
	--blackHalf: oklch(from var(--black) l c h / 50%);
	--orangeHalf: oklch(from var(--orange) l c h / 50%);
	--whiteShadow: oklch(from var(--white) l c h / 25%);
	--blackShadow: oklch(from var(--black) l c h / 25%);
	--orangeShadow: oklch(from var(--orange) l c h / 25%);
	--secondaryBrown: #41261a;
	--secondaryCream: #f0eee1;
	--secondaryRed: #b31218;
	--secondaryGreen: #275e37;

  --textColor: var(--black);
	--backgroundColor: var(--orange);
	--paddingOutside: 25px;
	--paddingInside: 12.5px;
	--paddingDouble: 50px;
	--headerHeight: 150px;
	--fontSize: 20px;
	--lineHeight: 1.5;
	--mainBlockWidth: 1280px;
	--narrowBlockWidth: 800px;


	/* this is old below: */

  --border-radius: 12px;
	@media screen and (max-width: 1279px) {
		--mainBlockWidth: 100%;
	}
	@media screen and (max-width: 1279px) {
		--mainBlockWidth: 100%;		
	}
	@media screen and (max-width: 1023px) {
		--paddingOutside: 10px;
		--paddingInside: 5px;
		--fontSize: 16px;
	}
	@media screen and (max-width: 799px) {
		--narrowBlockWidth: 100%;		
	}
}

/* @media (prefers-color-scheme: dark) {
  :root {
		--textColor: var(--orange);
		--backgroundCoolor: var(--black);
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
	scroll-behavior: smooth;;
}

body {
  color: var(--textClor);
  background: var(--backgroundColor);
	width: 100vw;
	overflow: hidden;
}

a {
  color: var(--orange);
  text-decoration: none;
}

/* should this really be a global style? */
a:hover {
		font-weight: bold;
}

#mainWrapper {
  display: flex;
	position: fixed;
	top: var(--headerHeight);
	left: 0;
	right: 0;
	height: calc(100% - var(--headerHeight));
  min-height: calc(100vh - var(--headerHeight));
	width: 100%;
	max-width: 100%;
  flex-direction: column;
  align-items: center; 
	background-color: var(--white);
	overflow-y: scroll;
	scroll-snap-type: y mandatory; /* is this not working? */
	min-height: calc(100vh - var(--headerHeight));
}

#mainWrapper article {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	scroll-snap-align: start;
	padding: var(--paddingOutside);
	height:fit-content;
	margin-bottom: auto;
}

#mainWrapper article.noscroll {
	scroll-snap-align: none;
}




#mainWrapper article > h2 {
	font-size: calc(var(--fontSize) * 2);
	line-height: var(--lineHeight);
	text-align: center;
	margin-bottom: var(--paddingOutside);
	color: var(--orange);
	line-height: 1.25;
}

#mainWrapper article p {
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
}

.pageheader {
	text-transform: uppercase;
	color: var(--orange);
	line-height: 1.5 !important;
	font-size: calc(var(--fontSize) * 1.2) !important;
}

.pageheader span {
	color: var(--black);
	font-weight: normal;
}

.tagline {
	text-align: center;
	color: var(--blackHalf);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 95% !important;
	font-weight: normal;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
