article.frontpage {
  display: flex;
  flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	padding: 0;
	scroll-snap-type: y mandatory; /* is this not working? */
}

.frontpage section {
  justify-content: space-between;
  align-items: center;
	padding: var(--paddingOutside);
	min-height: 100vh;
	box-sizing: border-box;
	border-top: 1px solid var(--black);
	width: 100%;
	display: flex;
	flex-direction: column;
	scroll-snap-align: start;
}

.frontpage section:first-of-type {
	background-color: var(--orange);
	min-height: calc(100vh - var(--headerHeight));
	border-top-color: var(--white);

}

