.aboutPage {
	max-width: min(800px, calc(100vw - 2 * var(--paddingOutside)));
}

.aboutPage h2 {
	margin-bottom: var(--paddingOutside);
	text-align: center;
}

.aboutPage p + p {
	text-indent: 1em;
}

.aboutPage img {
	margin: var(--paddingOutside) 0;
}

.aboutPage img + img {
	margin-top: 0;
}

.aboutPage h3 {
	color: var(--orange);
	margin-top: calc(2 * var(--paddingOutside));
	margin-bottom: var(--paddingOutside);
	font-size: 125%;
}