.emblaSlide {
  flex: 0 0 100%;
  min-width: 0;
	height: 100%;
	padding: var(--paddingOutside);
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;	
	flex-direction: column;
}

.emblaSlide h2 {
	font-size: 300%;
	color: var(--white);
	text-shadow: 0 0 10px var(--black);
	transition: 0.5s;
	/* mix-blend-mode: difference; */
}

.emblaSlide p {
	color: var(--white);
}

.emblaSlide h2 a {
	color: var(--white) !important;
}

.emblaSlide h2 a:hover {
	color: var(--black) !important;
	text-shadow: 0 0 10px var(--white);

	text-decoration: underline;
}	

.hideText h2 {
	visibility: hidden;
}

.hideText p {
	visibility: hidden;
}

.whatIsSlide {
	max-width: 1024px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto 0;
	--fontSize: 32px;
	--lineHeight: 1.25;
}

.whatIsSlide p, .whatIsSlide h2 {
	color: var(--black) !important;
}

.whatIsSlide h2 {
	text-shadow: none !important;
}

.bigHeader {
	font-size: 72px !important;
  margin-bottom: 18px;
}

.description {
	--fontSize: 32px;
	--lineHeight: 1.25;
	max-width: var(--narrowBlockWidth);
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
}


.cta {
	/* margin-top: calc(var(--fontSize) * 2); */
	font-size: calc(var(--fontSize) * 1.5) !important;
	max-width: min(var(--narrowBlockWidth), calc(100vw - calc(2 * var(--paddingOutside))));
	text-align: center;
	font-weight: bold;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0 0 10px var(--blackShadow) !important;
	position: absolute;
	bottom: calc(1 * var(--paddingOutside));
}

.officeHoursSlide {
	position: relative;
	background-color: var(--white)
}

.officeHoursSlide:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.33);
	z-index: 1;
}

.officeHoursSlide h2 {
	z-index: 2;
	text-shadow: 0 0 10px var(--blackShadow);
}

.officeHoursSlide p {
	z-index: 2;
	text-shadow: 0 0 5px var(--blackShadow);
	font-size: calc(var(--fontSize) * 1.2);
	margin: 0 10vw;
}

.officeHoursSlide .cta {
	z-index: 2;
text-shadow: 0 0 5px var(--blackShadow);
}

.bookSlide {
	position: relative;
}

.bookSlide:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(62, 42, 36, 0.45);
	z-index: 1;
}

.bookSlide h2 {
	z-index: 2;
}

.bookSlide p {
	z-index: 2;
}