.emblaSlide {
  flex: 0 0 100%;
  min-width: 0;
	height: 100%;
	padding: var(--paddingOutside);
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;	
	background-repeat: no-repeat;
	flex-direction: column;
	@media (max-width: 1023px) {
		background-size: contain;
	}
}

.emblaSlide h2 {
	font-size: 300%;
	color: var(--white);
	text-shadow: 0 0 10px var(--black);
	transition: 0.5s;
	/* mix-blend-mode: difference; */
}

.emblaSlide p {
	color: var(--white);
}

.emblaSlide h2 a {
	color: var(--white) !important;
}

.emblaSlide h2 a:hover {
	color: var(--black) !important;
	text-shadow: 0 0 10px var(--white);

	text-decoration: underline;
}	

.hideText h2 {
	visibility: hidden;
}

.hideText p {
	visibility: hidden;
}

.whatIsSlide {
	max-width: 1024px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto 0;
	--fontSize: calc(1rem * 2);
	--lineHeight: 1.25;
	@media (max-width: 1023px) {
		padding: 0 var(--paddingOutside);
	}
}

.beginSlide {
	background-color: var(--white);
	background-size: cover;
}

.beginSlide h2 {
	@media (max-width: 1023px) {
		--fontSize: calc(1rem / 8 * 7);
	}
}

.whatIsSlide p, .whatIsSlide h2 {
	color: var(--black) !important;
}

.whatIsSlide h2 {
	text-shadow: none !important;
}

.bigHeader {
	font-size: calc(1rem * 4.5) !important;
  margin-bottom: 18px;
	@media (max-width: 1023px) {
		font-size: calc(1rem * 3) !important;
		margin-bottom: 12px;
	}

}

.description {
	--fontSize: calc(1rem * 2);
	--lineHeight: 1.25;
	max-width: var(--narrowBlockWidth);
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
	@media (max-width: 1023px) {
		--fontSize: calc(1rem / 8 * 9);
	}
}


.cta {
	/* margin-top: calc(var(--fontSize) * 2); */
	font-size: calc(var(--fontSize) * 1.5) !important;
	max-width: min(var(--narrowBlockWidth), calc(100vw - calc(2 * var(--paddingOutside))));
	text-align: center;
	font-weight: bold;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0 0 10px var(--blackShadow) !important;
	position: absolute;
	bottom: calc(1 * var(--paddingOutside));
	@media (max-width: 1023px) {
		--fontSize: calc(1rem / 8 * 9);
	}

}

.officeHoursSlide {
	position: relative;
	background-color: var(--white);
	@media (max-width: 1023px) {
		background-size: cover;
	}

}

.officeHoursSlide:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--orange); /* rgba(0,0,0,0.33); */
	mix-blend-mode: screen;;
	z-index: 1;
}

.officeHoursSlide h2 {
	z-index: 2;
	text-shadow: 0 0 10px var(--whiteShadow);
}

.officeHoursSlide p {
	z-index: 2;
	text-shadow: 0 0 5px var(--whiteShadow);
	font-size: calc(var(--fontSize) * 1.2);
	margin: 0 10vw;
	color: var(--black);
}

.officeHoursSlide .cta {
	z-index: 2;
	color: var(--black);
text-shadow: 0 0 5px var(--whiteShadow) !important;
}

.officeHoursSlide .cta a {
	color: var(--black);
}

.bookSlide {
	position: relative;
}

.bookSlide:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(62, 42, 36, 0.45);
	z-index: 1;
}

.welcomeSlide {
background-color: var(--orange);
background-size: cover;
padding: 0 15vh;
	@media (max-width: 1023px) {
		padding: 0 var(--paddingOutside);
	}
}

.bookSlide h2 {
	z-index: 2;
}

.bookSlide p {
	z-index: 2;
}

.fullLink {
	width: calc(100% + 2 * var(--paddingOutside));
	height: calc(100% + 2 * var(--paddingOutside));
	margin-top: calc(0px - var(--paddingOutside));
	margin-left: calc(0px - var(--paddingOutside));
}

.interior {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.jobLink a:hover {
  text-decoration: none;
}