.emblaSlide {
  flex: 0 0 100%;
  min-width: 0;
	height: 100%;
	padding: var(--paddingOutside);
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;	
	flex-direction: column;
}

.emblaSlide h2 {
	font-size: 300%;
	color: var(--white);
	text-shadow: 0 0 10px var(--black);
	transition: 0.5s;
	/* mix-blend-mode: difference; */
}

.emblaSlide p {
	color: var(--white);
}

.emblaSlide h2 a {
	color: var(--white) !important;
}

.emblaSlide h2 a:hover {
	color: var(--black) !important;
	text-shadow: 0 0 10px var(--white);

	text-decoration: underline;
}	

.whatIsSlide {
	max-width: 1024px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto 0;
	--fontSize: 32px;
	--lineHeight: 1.25;
}

.whatIsSlide h2 {
	font-size: 72px;
  margin-bottom: 18px;
	text-shadow: none;
	color: var(--black);

}

.whatIsSlide p {
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
	color: var(--black);
}

.whatIsSlide p + p {
	text-indent: 1em;
}