.card {
	--borderRadius: 8px;
	--borderWidth: 5px;
	background-color: var(--white);
	border: var(--borderWidth) solid var(--orange);
	color: var(--orange);
	padding: var(--paddingInside);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: var(--borderRadius);
	max-width: calc(var(--imageWidth) + var(--paddingInside) * 2);
	box-sizing: border-box;
	height: max-content;
	width: min-content;
	min-width: 100%;
	box-shadow: 0 0 4px var(--orangeHalf);
	width: calc(240px + calc(var(--paddingInside) * 2) + calc(var(--borderWidth) * 2));
	border: none;
	border-radius: 0;
	position: relative;
}

.card:hover {
	box-shadow: 0 0 8px var(--orange);
}

.card a {
	color: var(--orange);
	transition: 0.5s;
	line-height: 0;
}

.card > a:hover {
	transform: scale(1.03);
}

.bottomblock {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bottomblock > a {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: initial;
}

.bottomblock > a:hover {
	font-weight: initial;
}

.card h2 {
	font-size: var(--fontSize) !important;
	margin: var(--paddingInside) 0 0 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}

.card img {
	border-radius: var(--borderRadius);
}

p.description {
	font-size: 90% !important;
	color: var(--black);
	margin-top: var(--paddingInside);
	text-align: center;
}

.eventHead {
	color: var(--black);
	font-weight: normal;
	font-size: 90%;
	letter-spacing: 2px;
	margin-top: var(--paddingInside);
}

.new {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: var(--orange);
	color: var(--white);
	padding: 2px 8px;
	user-select: none;
	letter-spacing: 1px;
	font-weight: bold;
	border-radius: 	var(--borderRadius);
	box-shadow: 0 0 4px var(--orangeShadow);
	z-index: 2;
	transition: 0.5s;
}

.new:hover {
	transform: rotate(360deg);
}

.type {
	position: absolute;
	left: -10px;
	top: 5px;
	font-size: 16px;
	border: 1px solid var(--white);
	background-color: var(--blackHalf); 
	color: var(--white);
	padding: 2px 8px;
	user-select: none;
	letter-spacing: 1px;
	font-weight: bold;
	border-radius: 	var(--borderRadius);
	box-shadow: 0 0 4px var(--whiteShdow);
	z-index: 2;
	transition: 0.5s;
	text-transform: uppercase;
}
