.footer {
	margin-top: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: var(--paddingOutside);
	scroll-snap-align: end;
	background-color: var(--orange);
	color: var(--white);
	width: 100%;
	margin-top: var(--paddingOutside);
}

.footer:global(.noscroll) {
	scroll-snap-align: none;
}

.subscribediv {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.subscribediv p {
	margin: 0;
	text-align: center;
	font-size: 1.5em;
	color: var(--white);
	margin-bottom: var(--paddingInside);
}

.subscribediv p strong {
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1px;
}

.subscribediv form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.subscribediv form div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	@media (max-width: 767px) {
		flex-direction: column;
	}
}

.subscribediv div div p {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.subscribediv input, .subscribediv button {
	height: 48px;
	font-size: 24px;
	border-radius: 2px;
	margin-bottom: 24px;
	background-color: transparent;
	color: var(--white);
	font-family: var(--fontFamily);
	text-align: center;
	border: 1px solid var(--white);
	outline: none;
	appearance: none;
	font-weight: normal;
}

.subscribediv button {
	padding: 0 12px;
	color: var(--orange);
	background-color: var(--white);
	text-transform: uppercase;

}

.subscribediv input:placeholder, .subscribediv input:placeholder-shown {
	color: var(--orange);
	font-weight: normal;
}

.subscribediv input[type="submit"] {
	background-color: var(--black);
	color: var(--white);
	padding: 0 12px;
}

.subscribediv input + input, .subscribediv input  + button {
	margin-left: 24px;
	@media (max-width: 767px) {
		margin-left: 0;
	}
}

.subscribedv button {
	@media (max-width: 767px) {
		margin-left: auto;
		margin-right: auto;
	}
}


.successp {
	font-size: 24px;
  font-style: italic;
  letter-spacing: 0;
  margin: 0 0 24px 0;
  color: var(--white);
}

.socialList {
	list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  z-index: 2;
  & li {
    margin: 0 10px;
  }
}

.socialList li {
	margin: 0 10px;
}

.linkFooter {
	display: flex;
  justify-content: center;
  padding: var(--paddingInside) var(--paddingOutside);
  background-color: var(--white);
  color: var(--orange);
	width: 100vw;
	margin-top: var(--paddingOutside);
	margin-left: calc(0px - var(--paddingOutside));
	margin-right: calc(0px - var(--paddingOutside));
	margin-bottom: calc(0px - var(--paddingOutside));
}

.linkFooter ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	@media (max-width: 767px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.linkFooter ul li {
	margin: 0;
	display: inline-block;
	text-transform: uppercase;
	@media (max-width: 767px) {
		margin: 0 16px;
	}
}

.linkFooter ul li a {
	text-decoration: none;
	transition: 0.5s;
	user-select: none;
}

.linkFooter ul li a:hover {
		letter-spacing: 0.5px;
}


.linkFooter ul li + li {
	margin-left: 1em;
	@media (max-width: 767px) {
		margin-left: 0;
	}
}