.wrapper {
	min-height: calc(100vh - var(--headerHeight));
	position: relative;
}

.wrapper h2 {
	position: absolute;
	top: var(--outsidePadding);
	color: var(--black) !important;
	font-size: var(--fontSize) !important;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	left: 0;
	right: 0;
	z-index: 2;
}

.wrapper + footer {
	margin-top: 0;
}

.emblaSlide {
  flex: 0 0 100%;
  min-width: 0;
	height: 100%;
	padding: var(--paddingOutside);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.quote {
	font-size: calc(var(--fontSize) * 2);
	max-width: min(800px, calc(100vw - calc(2 * var(--paddingOutside))));
	line-height: 1.25;
	color: var(--orange);
	@media (max-width: 767px) {
		font-size: calc(var(--fontSize) * 1.5);
	}
}

.quoter {
	margin-top: calc(var(--fontSize) * 0.5);
	font-size: calc(var(--fontSize) * 1.5) !important;
	max-width: min(800px, calc(100vw - calc(2 * var(--paddingOutside))));
	text-align: right;
	width: 100%;
	@media (max-width: 767px) {
		font-size: calc(var(--fontSize) * 1.25);
	}
}

.credential {
	font-size: calc(var(--fontSize) * 0.9);
	max-width: min(800px, calc(100vw - calc(2 * var(--paddingOutside))));
	text-align: right;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	opacity: 0.5;
}