.hireUs {
	--headerFontSize: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	& > section > h2 {
		padding-top: var(--paddingOutside);
    padding-bottom: calc(2 * var(--paddingOutside));
    font-size: calc(var(--fontSize) * 3);
		line-height: 1 !important;
    max-width: 800px;
		width: 100%;
		color: vaR(--orange);
  }
  @media (max-width: 767px) {
    --headerFontSize: 36px;
  }

}



.hireUs section {
	max-width: 800px;
	width: 100%;
	margin: var(--paddingOutside) 0;
}

.hireUs section h3 {
	margin-bottom: var(--paddingInside);
}

.hireUs section p {
	margin-bottom: var(--fontSize);
}

.hireUs hr {
	width: 50%;
	margin: var(--paddingOutside) auto;
}

.topDiv {
  background-color: var(--orange);
  color: var(--white);
  display: flex;
  justify-content: center;
  padding: var(--paddingOutside);
	margin-left: auto;
	margin-right: auto;

  & > div > h2,
  & > div > h3 {
    color: var(--white);
    margin-top: 0;
  }
  & > div {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  & a {
    color: white;
  }
	& p {
		margin-bottom: 0 !important;
	}
}

.testimonialWrapper > div {
	width: 100%;
}